<%- include("partials/header1"); -%>
<%var loggedin=false;%>
<%if(typeof user.email!="undefined"){loggedin = true;}%>
<div id="headerlogin">
  <%if(loggedin!=true){%>
    <a href="/login" id="login">Login</a>
    <a href="/signup" id="signup">Sign Up</a>
  <%}%>
  <%if(loggedin==true){%>
    <div style="display:grid;grid-template-columns:1fr;" class="headeruser">
      <p id="signup" onclick="userbutton()"><img src="<%=user.profile_image%>" alt="not found" height="25" width="20"><%=user.username+" "%><i class="arrow down"></i></p>
      <p id="userinfo" style="display : none;" onclick="myaccount()">My Account</p>
      <p id="signout" style="display : none;" onclick="signout()">Sign Out</p>
    </div>
  <%}%>
</div>
<%- include("partials/extra1"); -%>
<main class="mains">
<div class="leftmain">
<h5 class="firsttag">News</h5>
<%if(postdetails.length>=1){%>
<%for(var i=postdetails.length-1;i>=0;i--){%>
  <div class="newsitems" style="margin-bottom: 10px;">
    <div class="articleimg">
      <img src="<%=postdetails[i].postimg%>" height="200px" width="200px">
    </div>
    <div class="titlepost">
      <div class="articletitle">
          <a href="/binger/news/<%=postdetails[i].postid%>"><%=postdetails[i].posttitle%></a>
      </div>
      <div class="articlecontent">
        <%-postdetails[i].postdata.slice(0,350)%>
      </div>
      <div>
        <%=postdetails[i].postdate+" IST"%>
      </div>
    </div>
  </div>
  <%}%>
  <%}%>
</div>
<div class="rightmain">
    <h5 class="topairing">Trending Movies Worldwide</h5>
    <div class="airinganime">
    <% jsontopmoviesw.forEach(async (item,i)=>{%>
        <div class="airing">
            <div class="number"><%=(i+1)%></div>
            <%if(typeof jsontopmoviesw=='undefined'){%>
              <div class="imageair"><img src="https://www.planetf1.com/content/themes/planet/img/no_image.jpg" alt=""></div><%}%>
            <%if(typeof jsontopmoviesw!='undefined'){%>
            <div class="imageair"><img src="https://image.tmdb.org/t/p/w500<%=item.poster_path%>" alt=""></div><%}%>
            <div class="airname"><a href="/binger/movie/<%=item.id%>"><%=item.original_title%></a></div>
        </div>
        <%})%>
        <h5 class="topairing">Trending Series Worldwide</h5>
        <div class="airinganime">
        <%for(i=0;i<5;i++){%>
        <div class="airing">
            <div class="number"><%=(i+1)%></div>
            <div class="imageair"><img src="https://image.tmdb.org/t/p/w500<%=jsontopseriesw[i].poster_path%>" alt=""></div>
            <div class="airname"><a href="/binger/series/<%=jsontopseriesw[i].id%>"><%=jsontopseriesw[i].original_name%></a></div>
        </div>
      <%}%>
    </div>
</div>
</div>


</main>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="scripts/animehome.js"></script>
</html>
