<%- include("partials/header"); -%>
<%var loggedin=false;%>
<%if(user.length==1){loggedin = true;}%>
<div id="headerlogin">
  <%if(loggedin!=true){%>
    <a href="/account" id="login">Login</a>
    <a href="/accounts" id="signup">Sign Up</a>
  <%}%>
  <%if(loggedin==true){%>
    <div style="display:grid;grid-template-columns:1fr;" class="headeruser">
      <p id="signup" onclick="userbutton()"><img src="<%=user[0].profile_image%>" alt="not found" height="20" width="20"><%=user[0].username+" "%><i class="arrow down"></i></p>
      <p id="userinfo" style="display : none;" onclick="myaccount()">My Account</p>
      <p id="signout" style="display : none;" onclick="signout()">Sign Out</p>
    </div>
  <%}%>
</div>
<%- include("partials/extra"); -%>
<main class="mains">
<div class="leftmain">
<h5 class="firsttag" style="text-align: center;">NEWS POST</h5>
<div class="newsitems" style="grid-template-columns: 1fr;">
 <%if(postdetails!=null){%>
  <div class="articletitle">
        <%=postdetails.posttitle%>
    </div>
    <div class="posteddate">
      <p style="display: inline; font-weight: 600;">Posted on : </p>
      <p style="margin-left: 5px; display: inline"><%=postdetails.postdate%></p>
    </div>
    <div class="postauthor">
      <p style="display: inline;font-weight: 600;">Posted by : </p>
      <p style="margin-left: 5px; display: inline"><%=postdetails.postauthor%></p>
    </div>
    <div class="articleimg">
      <img src="<%=postdetails.postimg%>" alt="Image not folun" height="500" width="500">
    </div>
    <div class="articlecontent">
      <%- postdetails.postdata %>
    </div>
  <%}%>
</div>
<br>
<h5 class="firsttag">Comments</h5>

<!--<div class="comments">
<%if(loggedin){%>
  <div>
    <div style="display: inline-block;">
      <img src=<%-user[0].profile_image%> alt="" height="50px" width="50px">
    </div> 
    <div style="display: inline-block;">
      <div>
        <%=user[0].username%>
      </div>
      <div>
        <input type="text" id="postingcom">
        <button id="post" onclick="posting()">COMMENT</button>
      </div>
    </div>
  </div>  
  <%}%>
<div class="comment">
  <%if(postdetails.comments.length>0){%>
    <%postdetails.comments.forEach(async (item,i) =>{%>
      <div class='post <%=item.commentid%>'>
          <%=item.commentbody%>
        <div>
          <button onclick='expanding(this)'>
            Reply
          </button>
          <div class='reply <%=(i+1)%>' style="display: none;">
            <input type='text' id='postingrep'>
            <button onclick='replying(this)'>
              REPLY
            </button>
            <%item.reply.forEach(async (it)=>{%>
              <div>
                <%=it.replybody%>
              </div>
            <%});%>
          </div>
        </div>
      </div>
    <%});%>
    <%}%>
</div>
</div>-->
</div>
<div class="rightmain">
    <h5 class="topairing">Top Airing Anime</h5>
    <div class="airinganime">
    <% let airanime = airanimeobject %>
    <% for(let i=0;i<5;i++) {%>
        <div class="airing">
            <div class="number"><%=(i+1)%></div>
            <div class="imageair"><img src="<%=airanime[i].image_url%>" alt=""></div>
            <div class="airname"><a href="/otaku/anime/<%=airanime[i].mal_id%>" style="text-decoration:none;"><%=airanime[i].title%></a></div>
        </div>
        <%}%>
        <h5 class="topairing">Most Popular Anime</h5>
        <%let popanime=topanimeobject%>
        <div class="airinganime">
        <%for(i=0;i<5;i++){%>
        <div class="airing">
            <div class="number"><%=(i+1)%></div>
            <div class="imageair"><img src="<%=popanime[i].image_url%>" alt=""></div>
            <div class="airname"><a href="/otaku/anime/<%=popanime[i].mal_id%>" style="text-decoration:none;"><%=popanime[i].title%></a></div>
        </div>
      <%}%>
    </div>
</div>
</div>


</main>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="/scripts/animehome.js"></script>
<script>
    function posting(){
      if($("#postingcom").val()!=""){
         var ud = <%-JSON.stringify(user[0])%>;
        var num= <%-postdetails.comments.length%>+1;
          $.ajax({
          url : window.location.href,
          type : "POST",
          data : {
              commentid : num,
              profile_pic : ud.profile_image,
              username : ud.username,
              commentbody : $("#postingcom").val()
          },error : function(err)
          {
            console.log(err);
          }
          })
          var inhtml= "<div class='post '+num>"+$("#postingcom").val()+"<div><button onclick='expanding(this)'>Reply</button><div class='"+"reply"+" "+num+"'"+"><input type='text' id='postingrep'><button onclick='replying(this)'>REPLY</button><div></div></div></div></div>";
          $(".comment").prepend(inhtml);
      }
    }
function replying(element){
  if($("#postingrep").val()!=""&&<%-loggedin%>)
  {
    var ud = <%-JSON.stringify(user[0])%>;
    $.ajax({
      url : window.location.href,
      type : "POST",
      data : {
        commentid : parseInt(element.parentNode.className.slice(6)),
        profile_pic : ud.profile_image, 
        username : ud.username,
        replybody : $("#postingrep").val()
      },error : function(err)
          {
            console.log(err);
          }
    })
    var inhtml="<div>"+$("#postingrep").val()+"</div>";
    $(element.nextElementSibling).prepend(inhtml);
  }
}
function expanding(element){
  if(element.nextElementSibling.style.display=="none")
    element.nextElementSibling.style.display="block";
  else
    element.nextElementSibling.style.display="none";
}
</script>
</html>
